*{margin: 0; padding: 0;box-sizing: border-box;}
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{font-family:'Noto Sans TC','微軟正黑體';}

h1{font-size: 32px; font-weight: 500; color: #332626;}

/*container  ================================*/
.container{ margin:0 auto; max-width:768px; display:flex; flex-direction:column; justify-content:center; padding:1rem; border:2px solid deepskyblue; }
.select_container{width: 100%; margin: 20px 0;display: flex;flex-direction: row; gap:16px;}
.select_wrapper{position: relative; width: fit-content;/*自動調整寬*/ }
/*下拉符號*/
.select_wrapper::after{content: ""; background-image: url("/assets/dropdown_icon.svg"); width: 18px; height: 18px; position: absolute;right: 8px;top: 20%;pointer-events: none; }
.order_select{ width:100%; padding:10px; appearance:none; -webkit-appearance:none; -moz-appearance:none;/*取消預設箭頭*/padding-right:30px; line-height:1; border-radius:5px; border:none;border:1px solid #595959; }

/*選擇品種*/
.dropdown_button{ width:100%; padding:10px; padding-right:30px; line-height:1; border-radius:5px; background-color:transparent; border:none; border:1px solid #595959; }

/*下拉選單  ================================*/
.multi_select{ position:absolute; padding:20px; 
 border-radius:5px; background-color:#fff; box-shadow:3px 3px 10px rgba(0,0,0,.06);}
.multi_select .options{ display:flex; align-items:center; gap:4px; }
.multi_select label{text-wrap: nowrap;}
.multi_select label input{margin-right: 5px;} 

/*下拉隱藏*/
.hidden{display:none;}
.load_more_button{width: fit-content;margin: 0 auto;padding: 10px;border-radius: 20px;background-color: #fff; border: 1px solid #7c7c7c;}

/*圖片*/
.image_grid{max-width: 768px; display: grid; grid-template-columns: repeat(3, 1fr);column-gap: 1rem; margin: 1rem 0;}

.card{cursor: pointer;display: flex;flex-direction: column;gap: 0;margin-bottom: 16px;}
.card img{width: 100%;height: auto;object-fit: contain;border-radius: 15px;margin-bottom: 8px;}

/*右邊選單  ================================*/
.drawer_sidebar{ position:fixed; right:0; top:0; width:400px; height:100%; background-color:#f9f9f9; box-shadow:-1px 0 5px rgba(0,0,0,.06); transition:all 0.3s ease;transform:translateX(100%); border:2px solid #ccc;}
.drawer_sidebar.open{transform:translateX(0);}
.drawer_sidebar img{width: 100%;height: auto;object-fit: contain;}
/*文案*/
.drawer_sidebar .txt{display: flex;align-items: center;flex-direction: column;border-bottom: 1px solid #bcbcbc; }
.drawer_sidebar .txt span{font-size: 14px; margin-bottom: 10px; font-weight: 800; color: #7c7c7c;}
/*地標icon*/
.drawer_sidebar .txt img{ display:inline-block; width:14px; height:14px; object-fit:contain; }

/*壽命 體重 ================================*/
.drawer_sidebar .info{ text-align:center; display:flex; flex-wrap:wrap; justify-content:space-around; align-content:flex-start; border-bottom:1px solid #bcbcbc; }

/*壽命*/
.drawer_sidebar .info .date{ width:50%; margin:5px 0 5px 0; border-right:1px solid #8b8b8b; }
/*體重*/
.drawer_sidebar .info .weight{ width:50%; margin:5px 0 5px 0; }
/*文*/
.drawer_sidebar .info p{ font-weight: 600;}
.drawer_sidebar .info span{ font-weight: 600; color: #8b8b8b;}

/*標籤性格 tag ================================*/
.drawer_sidebar .tag_box{ padding:10px; }
.drawer_sidebar .tag_box p{font-size: 14px;font-weight:bolder;}
.drawer_sidebar .tag_box .tag_list span{ font-size:12px;  padding:4px 8px; border-radius:4px; background-color:#efedff; color:#2e1cc4;}

/*長條性格 tag ================================*/
.drawer_sidebar .stats_box{ } 
.drawer_sidebar .stats_box .stats_item{ display:flex; align-items:center; flex-direction:row; justify-content:space-between; padding:10px; }

.drawer_sidebar .stats_box p{font-size: 14px; font-weight: 900;}
.drawer_sidebar .stats_box .bar{width: 204px; height:10px; border-radius:20px; border: 1px solid #7c7c7c;}
.drawer_sidebar .stats_box .bar .fill{width: 50%; height: 10px; border-radius:20px; position: relative; bottom:1px; right: 1px;  background: linear-gradient(270deg,#2e1cc4 4.58%,#8846db 100%);}